# Scratch folder and files; this folder was created for random tests and work
Scratch/


# Pycharm folder and files
.idea/
__pycache__/
*.pyc


# Jupyter Notebook and Lab
.ipynb_checkpoints/


# Mac exclusive files
*.DS_Store
